*{
    margin: 0;
    padding: 10px;
}
#style{
    display: flex;
    background-color: rgb(226, 110, 43);
    
}
form{
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(255, 247, 0);
}